<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  

  <div class="container">
    <section class="hero">
    <div class="hero-body">
      <figure class= "background image">
        <img src= "/Users/emilydobson/bootcamp/homework/plant-marketplace/client/src/images/hero.jpg" alt= "cactus on dark background"/>
        </figure>
      <h1 class="title">
       Repotted
      </h1>
      <h2 class="subtitle">
       Welcome to a plant marketplace
      </h2>
    </div>
  </section>
  </div>

</body>
</html>