<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Post your plants</h1>
        <input class="input is-success" 
   type="text" placeholder="type of plant"/>
   <input class="input is-success" 
   type="text" placeholder="Common plant name"/>
   <textarea class="textarea" placeholder="description of plant, condition, price"></textarea>
   <input class="input is-success" 
   type="text" placeholder="your email address"/>
   <input class="input is-success" 
   type="text" placeholder="upload your photos of the plant"/>
   
  <button class="button is-success">Success</button>

        
    </div>
  

</body>
</html>


<!-------style, fontSize: color: 