<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
  <div class= "container">
    <div class="text-is-centered">
<h1> Join RePotted</h1>
<h1>Buy</h1>
<h1>Sell</h1>
<h1>Any variety of plants</h1>
<p>Coming soon...Community conversations</p>

<a class="button is-success">Login/Signup</a>
<br><br>
<a class="button is-success">Browse</a>
  </div>
</div>
</body>
</html>